.logo{
    width: 100px;
}

h2, h3{
    text-align: center;
}
#boutique{
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    min-height: 770px;
}

body{
    height: 100%;
    background-color: #fbfbf4 ;
    /*background-color: white;*/
}
#Pimg{
    justify-content: space-between;
}
.carousel-item{
    width: 100%;
}

/*Equipe*/

#equipe1 {

}

#equipe2 {
    /*background-color:blue;*/
}

#equipe3 {

}

#equipe4 {

}

#equipe16{
}

.equipe {
    display:none;
    visibility:hidden;
    /*height:50%;*/
    /*background-color:black;*/
}

.txt{
    text-align: center;
    color: black;
}

/*navbar*/
.cf{
    background-color: #fbfbf4;
    height: 10%;
}
.btnav{
    margin-left: 30%;
}

.btnsd{
    height: 10%;
}

/**/
.nav-link, .card-link{
    color: #000000;
}

/*#ffc107*/