
footer {
    width: 100%;
    display: inline-flex;
    background-color: #888e94;
}

.content_footer {
    margin: auto;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.menu_item_footer {
    display: inline-flex;
    text-align: center;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.item_footer {
    margin-left: 20px;
    margin-right: 20px;
}

#icon_facebook {
    width: 16px;
    height: 30px;
}

#icon_contact {
    width: 30px;
    height: 30px;
}

#icon_twitter {
    width: 29px;
    height: 28px;
}

.text_footer {
    margin: 16px;
}

.select_month {
    text-decoration: none;
}

.month_text, .day_text, .select_month, .day_num {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.month_text {
    font-weight: bold;
    font-size: 50px;
    color: #343a40;
}

.day_num {
    font-size: 20px;
    font-weight: bold;
    color: #888e94;
}

.previous_month {
    margin-right: 10%;
}

.next_month {
    margin-left: 10%;
}

.table_calendar {
    border-collapse: collapse;
    width: 100%;
    min-height: 800px;
}

.table_calendar, .td_calendar, .th_calendar {
    border: 1px solid #888e94;
}

.td_calendar {
    vertical-align: top;
}

.td_calendar:hover {
    background-color: #DFDFDF;
}

.th_calendar {
    width: 14%;
}

.today {
    border: 3px solid #007bff;
}

.event_text {
    font-family: 'Open Sans', sans-serif;
}

.article {
    text-align: center;
}

.article_image {
    width: 30%;
    height: 30%;
    border-radius: 2.5%;
}

body {
    background-color: aliceblue;
}

.article_text, .article_title {
    color: #343a40;
    font-family: 'Open Sans', sans-serif;
}

.home_events_text {
    color: #5f666c;
}

.home_events_title {
    color: #343a40;
}

.home_events_text, .home_events_title {
    font-family: 'Open Sans', sans-serif;
}

.home_events_title:hover {
    text-decoration: underline;
    cursor: pointer;
}