
footer {
    width: 100%;
    display: inline-flex;
}

.content_footer {
    margin: auto;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.menu_item_footer {
    display: inline-flex;
    text-align: center;
    padding: 0;
}

.item_footer {
    margin-left: 20px;
    margin-right: 20px;
}

#icon_facebook {
    width: 16px;
    height: 30px;
}

#icon_contact {
    width: 30px;
    height: 30px;
}

#icon_twitter {
    width: 29px;
    height: 28px;
}

.text_footer {
    margin: 16px;
}

table {
    border-collapse: collapse;
    border-radius: 10%;
}

table, td, th {
    border: 1px solid #343a40;
}

th {
    padding-left: 5%;
    padding-right: 5%;
}

td {
    padding: 1%;
}

.article_image {
    width: 15%;
    height: 15%;
    border-radius: 2.5%;
}

body {
    background-color: aliceblue;
}

.article_text, .article_title {
    color: #343a40;
    font-family: 'Open Sans', sans-serif;
}

.article_title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.home_events_text, .home_events_title {
    color: #343a40;
    font-family: 'Open Sans', sans-serif;
}

.home_events_title:hover {
    text-decoration: underline;
    cursor: pointer;
}