#icon_facebook {
    width: 16px;
    height: 30px;
}

#icon_contact {
    width: 30px;
    height: 30px;
}

#icon_twitter {
    width: 29px;
    height: 28px;
}

footer {
    width: 100%;
    display: inline-flex;
    text-align: center;
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.menu_item_footer {
    display: inline-flex;
    text-align: center;
    padding: 0;
}